@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    
}
h1, h2, a, b {
    font-family: 'Flavors', cursive;
    font-weight: 100;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #FFF;
    box-shadow: 0 4px 25px -22px Black;
    z-index: 9;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo h1 b {
    color: #6867AC;
}

.menu {
    height: 80px;
    margin-right: 40px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-select:before {
    content: '';
    width: 100%;
    height: 4px;
    background: #2867AC;
    position: absolute;
    top: 0px;
    left: 0px;
}

.menu nav ul li a {
    color: #6867AC;
    transition: color 300ms;
    font-size: 20px;
}

.menu nav ul li a:hover {
    color: #2867AC;
    
}

.menu .text-menu-select {
    color: #2867AC;
}

.menu nav ul li a i {
    display: none;
}

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #fafafafa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

#icon-menu:hover {
    background: #f2f2f2f2;
    opacity: 0.8;
}

/* Barra de busqueda */

#ctn-icon-search {
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i {
    font-size: 18px;
    color: #6867AC;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover {
    color: #2867AC;
}

#ctn-bars-search {
    position: fixed;
    top: -120px;
    width: 100%;
    background: #fff;
    padding: 20PX;
    z-index: 9;
    transition: all 300ms;
    border-top: 2px solid #2867AC;
    transition: all 300ms ease;
}

#ctn-bars-search input {
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
}

#box-search {
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    overflow: hidden;
    z-index: 2;
    display: none;
}

#box-search li a {
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover {
    background: #A267AC;
    color: #fff;
}

#box-search li a i {
    margin-right: 10px;
}

#cover-ctn-search {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
}

/* Boton Ir Arriba */ 

#button-up {
    width: 60px;
    height: 60px;
    color: #fff;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/* Footer */ 

.container-footer {
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer {
    text-align: center;
}

.container-footer footer .logo-footer img {
    width: 100px;
    border-radius: 50%;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 25px;
    color: #a2a2a2;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.container-footer footer .redes-footer .fa-facebook-f:hover {
    background: #2867AC;
    color: #fff;
}

.container-footer footer .redes-footer .fa-youtube:hover {
    background: #FF7878;
    color: #fff;
}

.container-footer footer .redes-footer .fa-instagram:hover {
    background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
    color: #fff;
}

.container-footer footer hr {
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}

.container-footer h4 {
    text-align: center;
    margin-top: 20px;
    color: #8e8e8e;
    font-weight: 500px;
}
 /* Query Responsive */

@media screen and (max-width: 1220px) {
    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
    
    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    
    .container-all {
        transition: all 300ms;
    }
    
    .move-container-all {
        transform: translateX(300px);
    }
    
    .menu {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;;
        overflow: hidden;
        transform: translate(-350px);
        box-shadow: 10px 0 20px -10px black;
        transition: all 300ms;
    }
    
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    
    .menu nav ul {
        flex-flow: column;
    }
    
    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    
    .menu-select:before {
        width: 0;
    }
    
    .menu nav ul li a {
        margin-top: 40px;
        color: #858585;
    }
    
    .menu nav ul li a i {
        width: 50px;
        display: inline-block;
        margin-right: 10px;
        color: #2867AC; 
    }
    
    #icon-menu {
        display: flex;
        right: 60px;
    }
    
    .container-aside {
        flex-wrap: wrap;
    }
}








